<main>
    <img id="sadFaceImg"
        src="https://cdn3.iconfinder.com/data/icons/smileys-people-smiley-essential/48/v-42-512.png"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>