<form action="/search">
    <input type="text">
    <button type="button">Search</button>
</form>
<section class="cats">
    <ul>
        {{#each cats}}
        {{>catCard}}
        {{/each}}
    </ul>
</section>