<form action="/search" method="GET">
    <input type="text" name="search">
    <button type="submit">Search</button>
</form>
<section class="cats">
    <ul>
        {{#each cats}}
        {{>catCard}}
        {{/each}}
    </ul>
</section>